<div class="flex flex-col gap-2">
  <p class="text-sm font-light mb-1">


    Learn, Share and Grow ❤️

  </p>

  <p class="text-md mb-1 font-medium">
    I enjoy providing software solutions and bring ideas to life and solve real-world problems.
  </p>

  <hr/>


  <p class="text-sm font-light">
    I use the following technologies:
  </p>
  <ul class="list-inside list-disc">
    <li>Python / Django</li>
    <li>JavaScript / Typescript</li>
    <li>AWS</li>
    <li>Cloud Computing</li>
    <li>Kubernetes</li>
    <li>React</li>
    <li>Astro</li>
    <li>Node.js</li>
    <li>Postgres</li>
    <li>SQL</li>
    <li>Astro</li>
  </ul>
</div>

