---
import { getCollection } from "astro:content";
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { formateLocalDate } from "../../lib/utils";


let posts = await getCollection('posts');

posts = posts.sort((a, b) => {
  return new Date(b.data.startDate) - new Date(a.data.startDate);
});
posts = posts.slice(0, 2);
---


<div class="mt-2 space-y-4">
  {
    posts.map((project) => (
      <div>
        <h3 class="text-lg font-semibold text-primary">
          <a href={`/posts/${project.slug}`} class="hover:underline line-clamp-2">
            {project.data.title}
          </a>
        </h3>
        <p class="text-sm line-clamp-2">
          {project.data.description}
        </p>
        <p class="text-sm text-gray-600">
          {formateLocalDate(project.data.startDate)} {project.data?.endDate ? '- ' + formateLocalDate(project.data.endDate) : ''}
        </p>
      </div>
    ))
  }
  <a href="/posts">
    <Button variant="link" className="pl-0"> View More</Button>
  </a>
</div>

