---
import { getCollection } from "astro:content";
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { formateLocalDate } from "../../lib/utils";


let projects = await getCollection('projects');

// sort projects by dateStart DESC
projects.sort((a: any, b: any) => {
  return new Date(b.data.startDate) - new Date(a.data.startDate);
});

projects = projects.slice(0, 3);
---


<div class="mt-2 space-y-4">
  {
    projects.slice(0, 3).map((project) => (
      <div>
        <h3 class="text-lg font-semibold text-primary">
          <a href={`/projects/${project.slug}`} class="hover:underline">
            {project.data.title}
          </a>
        </h3>
        <p class="text-sm">
          {project.data.description}
        </p>
        <p class="text-sm text-gray-600">
          {formateLocalDate(project.data.startDate)} {project.data?.endDate ? '- ' + formateLocalDate(project.data.endDate) : ''}
        </p>
      </div>
    ))
  }
  <a href="/projects">
    <Button variant="link" className="pl-0"> View More</Button>
  </a>
</div>

