---
import Card from '../Card.astro'
import { Badge } from '../ui/badge'
import { shuffleArray } from "../../lib/utils";
import { PROFILE } from "../../content/profileData";


shuffleArray(PROFILE.studies)
---


<div class="mt-2 flex w-full flex-wrap items-center justify-center gap-2">
  {
    PROFILE.studies.map((study) => (
      <>
        <Badge variant="outline">{study.title}</Badge>
      </>
    ))
  }
</div>

