---
import NowTime from '../react/NowTime'
const {timezone = null} = Astro.props

---

<div class="p-1 flex flex-row items-center gap-2 animate-appear">
  <NowTime timezone={timezone} client:load />
</div>



