---
import TimeZoneV2 from '../../react/TimeZoneCardV2'
import Pulse from '../Pulse.astro'


const {timezone = Intl.DateTimeFormat().resolvedOptions().timeZone} = Astro.props

const isItUserTimeZone = timezone === Intl.DateTimeFormat().resolvedOptions().timeZone
---

<div class="p-1 flex flex-row items-center gap-2">

  <TimeZoneV2 timezone={timezone} client:load/>
  {isItUserTimeZone ?
    <Pulse /> :
    <></>}
</div>



