---
import NowTime from '../ui/NowTime'
import Pulse from '../Pulse.astro'


const {timezone = Intl.DateTimeFormat().resolvedOptions().timeZone} = Astro.props

const isItUserTimeZone = timezone === Intl.DateTimeFormat().resolvedOptions().timeZone
---

<div class="p-1 flex flex-row items-center gap-2">

  <NowTime timezone={timezone} client:load/>
  {isItUserTimeZone ?
    <Pulse /> :
    <></>}
</div>



