---
import { PROFILE } from "../content/profileData";
---
<footer class="border-t py-6 md:px-8 md:py-0 w-full max-w-screen-lg">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-24 md:flex-row"
  >
    <p
      class="text-center text-xs leading-loose text-muted-foreground md:text-left  mx-auto"
    >
      Built by{' '}
      <a
        href={PROFILE.links.github}
        target="_blank"
        class="font-medium underline underline-offset-4"
      >
        tim-hub
      </a>
      . with <span class="text-red-500">❤️</span> using Astro, React, Typescript and Tailwind CSS. The
      source code is available on{' '}
      <a
        href={PROFILE.repo}
        target="_blank"
        rel="noreferrer"
        class="font-medium underline underline-offset-4"
      >
        GitHub
      </a>
      .
    </p>
  </div>
</footer>
